:root {
  --branding-color: #272142;
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}

h2 {
  color: var(--branding-color);
  font-size: 24px;
}
h3 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
}

p {
  line-height: 30px;
}

.upper-section {
  background: var(--secondary-color);
  padding: 200px 0px;
  text-align: center;
}

.intoduction {
  text-align: center;
}

.intoduction p {
  color: var(--branding-color);
  font-weight: bold;
  font-size: 36px;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: #ffffff;
  font-size: 18;
  padding: 18px 36px;
  margin-top: 40px;
}

.projects p {
}

.project-description {
  margin-top: 50px;
  padding-bottom: 30px;
}

.project-description h3 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.btn-branding-projects {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18;
  padding: 18px 36px;
  margin-top: 30px;
}

.btn-branding-projects:hover {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.img-frame-style {
  width: 560px;
  height: 560px;
  background: var(--secondary-color);
  padding: 15px;
}
.project-img-style {
  width: 320px;
  border-radius: 4px;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
}

.img-frame-weather {
  width: 560px;
  height: 560px;
  background: var(--secondary-color);
  padding: 70px 0;
}
.project-img-weather {
  border-radius: 4px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  display: block;
  margin: 0 auto;
}

.img-frame-dictionary {
  width: 560px;
}
.project-img-dictionary {
  width: 100%;
  height: 560px;
  display: block;
  margin: 0 auto;
}
